JWT_SECRET= "your JWT sceret"
RESEND_API_KEY="your resend api key"
CLOUDINARY_NAME="cloudinary name"
CLOUDINARY_API_KEY="your cloudinary api key"
CLOUDINARY_API_SECRET="cloudinary api secret"
CLOUDINARY_URL="your cloudinary url"